/* CSS RESET - https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: circle;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* TAILWIND !!! */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles */

/* no use to creating a Navbar.module.css since <Navbar> is part of primary layout */
.nav-link {
    @apply px-4 py-5 font-montserrat;
    transition: all 0.2s 0s ease-out;
}

.nav-link:hover {
    background-color: white;
    color: #272727;
    scale: 1.1;
}

/* Credit: https://svgwave.in/ */

.path-0 {
    animation: pathAnim-0 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
    0% {
        d: path(
            "M 0,600 C 0,600 0,300 0,300 C 154,288.1333333333333 308,276.2666666666667 453,297 C 598,317.7333333333333 734,371.06666666666666 897,377 C 1060,382.93333333333334 1250,341.4666666666667 1440,300 C 1440,300 1440,600 1440,600 Z"
        );
    }
    25% {
        d: path(
            "M 0,600 C 0,600 0,300 0,300 C 124.66666666666663,270.4 249.33333333333326,240.79999999999998 405,228 C 560.6666666666667,215.20000000000002 747.3333333333335,219.2 925,234 C 1102.6666666666665,248.8 1271.3333333333333,274.4 1440,300 C 1440,300 1440,600 1440,600 Z"
        );
    }
    50% {
        d: path(
            "M 0,600 C 0,600 0,300 0,300 C 125.73333333333329,257.2 251.46666666666658,214.4 400,230 C 548.5333333333334,245.6 719.8666666666668,319.6 897,341 C 1074.1333333333332,362.4 1257.0666666666666,331.2 1440,300 C 1440,300 1440,600 1440,600 Z"
        );
    }
    75% {
        d: path(
            "M 0,600 C 0,600 0,300 0,300 C 153.46666666666664,257.73333333333335 306.9333333333333,215.46666666666667 481,215 C 655.0666666666667,214.53333333333333 849.7333333333333,255.86666666666667 1013,277 C 1176.2666666666667,298.1333333333333 1308.1333333333332,299.06666666666666 1440,300 C 1440,300 1440,600 1440,600 Z"
        );
    }
    100% {
        d: path(
            "M 0,600 C 0,600 0,300 0,300 C 154,288.1333333333333 308,276.2666666666667 453,297 C 598,317.7333333333333 734,371.06666666666666 897,377 C 1060,382.93333333333334 1250,341.4666666666667 1440,300 C 1440,300 1440,600 1440,600 Z"
        );
    }
}
